
/* 1. 垂直水平居中 */
/* 1.1. 考虑宽高*/
body {
    position:relative;
}
.box{
    height:xxx;
    width:xxx;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    position:absolute;
}
/* 1.2. css3 transform */
.box{
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
/* 1.3. flex */
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 1.4. js in css */
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>JS实现-DIV自动居中代码</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<style>
*{margin:0;padding:0}
#box{width:100px;height:100px;position:absolute;top:30px;left:20px; background:#ccc}
</style>
</head>
<body>
<div id="box"></div>
<script>
window.onload = function(){
    function box(){
    //获取DIV为'box'的盒子
    var oBox = document.getElementById('box');
    //获取元素自身的宽度
    var L1 = oBox.offsetWidth;
    //获取元素自身的高度
    var H1 = oBox.offsetHeight;
    //获取实际页面的left值。（页面宽度减去元素自身宽度/2）
    var Left = (document.documentElement.clientWidth-L1)/2;
    //获取实际页面的top值。（页面高度减去元素自身高度/2）
    var top = (document.documentElement.clientHeight-H1)/2;
    oBox.style.left = Left+'px';
    oBox.style.top = top+'px';
    }
    box();
    //当浏览器页面发生改变时，DIV随着页面的改变居中。
    window.onresize = function(){
        box();
    } 
}
</script>
</body>
</html>
<style>
.father {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    // 宽高不能是百分比 固定宽高
}
.box {
    display: inline-block;
}
</style>